.projectColorBlock
{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.colorpicker{
	z-index: 1020;
}

.kanban_panel{
	width:300px;
	display:inline;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
