.login-back{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.login-back img{
	width: 100%;
	height: 100%;
}
.projectColorBlock
{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.colorpicker{
	z-index: 1020;
}
/*

.tour-step-background{
	opacity: 0;
	border:2px solid white;
}

.tourElement{
	opacity: 1;
	z-index: 2000;
}
*/

.kanban_panel{
	width:300px;
	display:inline;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}

.login-box-body{
	background: rgba(255, 255, 255, 0.9);
	border: 10px double #fff;
}
label, div, .login-box-body .login-box-msg{
	color: #111;
}
.login-box-body a{
	color: #3c8dbc;
}
.login-box .login-logo a{
	color: #fff;
}