.projectColorBlock
{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.colorpicker{
	z-index: 1020;
}

/*

.tour-step-background{
	opacity: 0;
	border:2px solid white;
}

.tourElement{
	opacity: 1;
	z-index: 2000;
}
*/